[2018-09-10 12:14] tobitech opened #3 "Unable to find a specification for SKCountryPicker"
I tried to install this library with cocoapods and I'm getting this error on the terminal `Unable to find a specification for SKCountryPicker`

[2018-09-10 13:41] SURYAKANTSHARMA commented on #3
Hi @tobitech,  Thanks for reporting the issue happy to help. Will reply shorty.

[2018-09-10 14:49] tobitech commented on #3
Okay, don't bother I already solved the issue with `pod setup`

[2018-09-10 14:49] #3 closed

[2018-09-21 12:59] Dev-Khaled opened #4 "No data when countries in Arabic language"
No data when countries in Arabic language

[code]

[2018-09-21 13:14] SURYAKANTSHARMA commented on #4
Hi @dev thanks for reporting the issue, I think this issue is not in my knowledge I had tested the code and many applications used it, although I couldn't help today but surely look into this Asap. Please share the details so that I can help you smoothly.

[2018-09-22 04:46] SURYAKANTSHARMA commented on #4
Nice to know you had solve the problem :1st_place_medal:   could you please explain a bit how it solve the problem?  So that i update my repo accordingly. it is seems like is Duplicacy is the problem (Not clear for me how) ? is it please let me know.

[2018-09-22 08:00] Dev-Khaled commented on #4
You get country names from the system, and it depends on device language.

for non English languages, constant "sections" with English letters will be wrong, so I just initiated sections with first letter from each language name,

`countries.map({ String($0.countryName.prefix(1)).first! })
`
then filtered the duplicates.

`.unique
`
Best

[2018-09-22 12:16] SURYAKANTSHARMA commented on #4
ok @Dev-Khaled  thanks for clearification.

[2018-09-24 13:22] anshumanburman opened #5 "[!] Unable to find a specification for `SKCountryPicker (~> 1.1)`"
i am  unable to install.
pod version : 1.5.2

[2018-09-24 13:29] SURYAKANTSHARMA commented on #5
Hi @anshumanburman , Could you please install this ?
 pod 'SKCountryPicker'

[2018-09-25 04:14] SURYAKANTSHARMA commented on #5
@anshumanburman  are u done with it ?

[2018-09-25 05:04] SURYAKANTSHARMA commented on #5
Issue not found. Closed.

[2018-09-25 05:04] #5 closed

[2018-10-01 11:34] DmitryM9 opened #6 "Creating an instance with the specified countryСode"
It is not possible to create an instance of a country with a specified countryCode. The country class constructor is internal. How do I get the phone code and flag for a specific country code?
``

[2018-10-01 11:43] SURYAKANTSHARMA commented on #6
Will update library for the same. :smile:

[2018-10-03 12:50] SURYAKANTSHARMA commented on #4
@Dev-Khaled  Awesome bro 👍 Good Catch 💯 .  #4  Done in version 1.1.6.

[2018-10-03 12:50] #4 closed

[2018-10-04 10:23] SURYAKANTSHARMA opened #7 "Accepting #hacktoberfest pull requests"

[2018-10-05 11:32] d3nzZ3L commented on #7
just fix style to swift style #10

[2018-10-22 12:53] KillianSmith0 opened #13 "Trying to Contribute but can't"
Trying to collab as part of Hacktoberfest.. How can I open a PR?

[2018-10-22 13:04] SURYAKANTSHARMA commented on #13
please check these for more information.
https://help.github.com/articles/creating-a-pull-request/
https://github.com/openpnp/openpnp/wiki/Your-First-Pull-Request
Hope it Helps.

[2018-11-05 11:26] tobitech opened #15 "Picker not dismissing"
Please the country picker doesn't dismiss when i select a country from a search results

[2018-11-05 11:48] #7 closed

[2018-11-05 11:49] SURYAKANTSHARMA commented on #15
@tobitech  Please check why dismiss function won't work may be its your heir achy problem.

[2018-11-05 11:49] SURYAKANTSHARMA commented on #15
Or download demo project and then test. Let me know if it don't work.

[2018-11-05 11:54] tobitech commented on #15
Oh i just realised one has to click twice to dismiss, but i don't think that should happen. same with demo project as well

[2018-11-05 11:56] SURYAKANTSHARMA commented on #15
its intentional. But thanks for suggestion :)

[2018-11-08 10:47] VRWayVl commented on #4
the same issue with russian language

[2018-11-16 16:58] iloo123 opened #16 "Image is displayed wrong"
Flag Image is stretched is displayed as box. unable give a width to it.

[2018-11-17 07:43] SURYAKANTSHARMA commented on #16
@iloo123  could you please explain more ? Screen Shot and code you are trying ..

[2018-12-24 21:56] mxp7064 commented on #15
Hi, this is a great library. Can you please tell me the rationale for making in that way?

[2018-12-25 04:17] SURYAKANTSHARMA commented on #15
Thanks @mxp7064  for questioning and kind words.

- There we think that it make more clear for user to tap on country (Tick button appear) . Then user tap for make it selected. If you guys think that it is unclear please reOpen this issue or Make pull request for the same.  Looking forward for your view.

[2018-12-26 09:36] SURYAKANTSHARMA commented on #15
@mxp7064 @tobitech  I had update the library with required changes kind check and let me know if don't work for you guys.

[2019-01-21 05:58] SURYAKANTSHARMA commented on #15
@mxp7064  yes thanks for remainder had changed but some code start breaking because of conflict so i had reverted the code. Will resolve it shortly Sorry of inconvenience .

[2019-01-31 10:11] SURYAKANTSHARMA commented on #15
@mxp7064  Thanks for patience. It's done you can update your pod version 1.2.0. It's done.

[2019-01-31 10:11] #15 closed

[2019-01-31 13:41] SURYAKANTSHARMA commented on #15
Welcome @mxp7064, Feel free to give it star if you like it.

[2019-03-11 12:19] zeeshaneureka93 opened #17 "i want to install it for deployment targets 9.0 also,but it gives me error."

[2019-03-11 13:06] SURYAKANTSHARMA commented on #17
Please add error screen shot and message whatever possible

[2019-03-14 12:01] SURYAKANTSHARMA commented on #17
as library documentation shows that required iOS version is 10.0 as not supporting below that.

[2019-03-14 12:01] #17 closed

[2019-03-18 06:48] Ghazzway opened #18 "how change the default country ? from US to another country ?"

[2019-03-18 08:51] SURYAKANTSHARMA commented on #18
@Ghazzway  Go to General > Language & Region > Region (Change to other country).
After doing this run application you will see updated country.

[2019-03-18 12:57] Ghazzway commented on #18
I'm using your demo project when I go to General I can't find the  Language & Region. Thx pro

[2019-03-19 02:43] SURYAKANTSHARMA commented on #18
![Simulator Screen Shot - iPhone XR - 2019-03-19 at 08 09 36](https://user-images.githubusercontent.com/6416095/54576545-a937ee00-4a1e-11e9-96b7-fc5e788c1d2a.png)
Go to Setting Application of Simulator/iphone > General you will find this

[2019-03-19 08:20] Ghazzway commented on #18
aha from the device ok thanx that fix my issue. but I wondering if  any way to make the default country by code

[2019-03-20 02:21] SURYAKANTSHARMA commented on #18
@Ghazzway  Happy to know you had resolve the issue.
No right now only default country is selected by default and user can select the custom if wants.
Feel free to star if you find the library useful &Fork the repo to make any changes.
Thanks.

[2019-03-20 02:21] #18 closed

[2019-03-20 20:55] Ghazzway commented on #18
**thanx for help**

[2019-08-02 15:21] saurabhDuzumaki commented on #16
Hi @SURYAKANTSHARMA I think he meant this.
This issue still persists in version 1.2.0. Please have a look at it. Thanks.
![Simulator Screen Shot - iPhone 7 - 2019-08-02 at 20 47 08](https://user-images.githubusercontent.com/22277943/62380409-c3561100-b566-11e9-8f65-9a4fcc3cefaa.png)

[2019-08-03 06:04] SURYAKANTSHARMA commented on #16
ok @saurabhDuzumaki. Thanks for bring.

[2019-08-11 04:37] SURYAKANTSHARMA commented on #16
@saurabhDuzumaki Kindly update the latest version 1.2.1 or just pod update. I had resolved and publish the Cocoapod today

[2019-08-11 04:38] #16 closed

[2019-08-14 10:54] saurabhDuzumaki commented on #16
I am still using Swift 4.2 (can't update the Xcode because no space in the Mac). When I use 1.2.1, I get the following error at this line `countryImage.image = country.flag` of my project.

2019-08-14 16:11:43.669451+0530 *** NSForwarding: warning: object 0x60000266a8c0 of class 'SKCountryPicker.CountryManager' does not implement methodSignatureForSelector: -- trouble ahead
Unrecognized selector -

[2019-08-14 16:26] Sharkesm commented on #16
@SURYAKANTSHARMA Did this issue occur after merging and testing the last PR?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-15 04:39] SURYAKANTSHARMA commented on #16
It's working fine on my end just clone repo and in `Example` folder open the test project and run with version swift 4.2. You should try to clean and try deleting derive data may help.

[2019-08-15 04:41] SURYAKANTSHARMA commented on #16
@Sharkesm  Nope. I had tested after merge, run before and after publishing

[2019-08-15 05:27] Sharkesm commented on #16
@saurabhDuzumaki Unfortunately I can’t replicate the issue on v1.2.1. Can you share your source code so as we can make a follow and review the problem.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-15 05:28] Sharkesm commented on #16
@SURYAKANTSHARMA Yeap I’m not getting the crush either 😐

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-15 16:10] saurabhDuzumaki commented on #16
This solved the issue for me. There is no crash now. Thanks.

[2019-08-31 17:43] SURYAKANTSHARMA opened #27 "Add Carthage support for library"
As I am not aware of Carthage.Any one can add support for Carthage as well.

[2019-09-01 09:19] Sharkesm commented on #27
Hands are tied this week, hopefully, I can jump into it once I'm free.

[2019-09-01 09:27] SURYAKANTSHARMA commented on #27
No worries bro

[2019-10-01 13:33] SURYAKANTSHARMA opened #32 "Any hacktoberfest enthusiastic can contribute PRs on this repo"
Rules

- Can reduce the launch time of pickerView (Please attach statistics if work)
- Can add voice over accessibility
- Test cases are recommended.
- Add documentation of public apis by jazz (https://github.com/realm/jazzy)
- Add value to project
- No Spam

[2019-10-02 04:01] SURYAKANTSHARMA opened #35 "Add Swift Package Manager Support for Library"
Anybody interested in Add `Swift Package Manager` support for Library can be take this for PR. Thanks in advance.

[2019-10-02 04:03] #27 closed

[2019-10-06 15:23] theaudience commented on #35
I had a look into this. Currently resources are not supported with Swift Package Manager. If anyone knows a suitable workaround I would be happy to take up this issue.

[2019-10-06 16:00] SURYAKANTSHARMA commented on #35
@theaudience  Thanks for interest. 💯  I think its the bug  [here](https://bugs.swift.org/browse/SR-2866), and still discussion is going on [forum](https://forums.swift.org/t/swift-pm-bundles-and-resources/13981/44). Let wait for solution by the swift team 👍 . As this [stackoverflow](https://stackoverflow.com/q/39815054/3331528) question still shows no solution of doing the same.

[2019-10-06 16:18] theaudience commented on #35
I think one possibility would be to use the iOS country flag icons instead of the images in the library. This would remove the dependency. What do you think @SURYAKANTSHARMA?

[2019-10-06 16:24] SURYAKANTSHARMA commented on #35
Yes Please 💯 . Thanks in advance :)

[2019-10-07 07:54] #35 closed

[2019-10-15 12:25] megandsouza03 commented on #32
Hey Suryakant

What are some of the areas/issues I can work on?

[2019-10-15 12:34] SURYAKANTSHARMA commented on #32
Hey Megan, Thanks for interest.
You can work on
1. add test coverage
2. Add documentation by jazz (https://github.com/realm/jazzy)
3. Any think you see is missing 👍

[2019-10-15 12:36] megandsouza03 commented on #32
Perfect, I'll add some tests soon!

Is there any feature enhancement you would like me to work on?

[2019-10-15 15:17] SURYAKANTSHARMA commented on #32
- Can reduce the launch time of pickerView (Please attach statistics if work)
- Can add voice over accessibility

[2019-10-21 21:07] thisIsTheFoxe commented on #32
Hey, just to let you know: I’m currently working on Accessibility support and will PR probably some time tmr (in ~12-16h)

Like the project and that you think about stuff like Accessibility! ^^

[2019-10-22 04:27] SURYAKANTSHARMA commented on #32
Yes please @thisIsTheFoxe  Add and generate PR. 💯

[2019-10-22 17:42] megandsouza03 commented on #32
Hey Suryakant

I'll be writing UITests for the repo, would that be fine?
Or you have something else in mind?

[2019-10-23 04:37] SURYAKANTSHARMA commented on #32
Yes, sure go for it.

[2019-11-04 02:17] #32 closed

[2019-12-18 16:46] SerggioC opened #44 "White search bar in dark mode"
When the search field for the country list is visible the top bar background becomes white.
Isn't it supposed to be black?
How do we change it to black in dark mode?

edit: when the table view controller is opening the top bar background is black, then when it finishes openning it becomes white...

[2019-12-19 15:54] SURYAKANTSHARMA commented on #44
@SerggioC  please upload video or screenshot. It's easy to understand and resolve.

[2019-12-19 23:02] SerggioC commented on #44
@SURYAKANTSHARMA
As you see the table header for the search bar is white in dark mode. It would look better in a darker colour. How do we change that?
![Screenshot 2019-12-19 at 23 00 16](https://user-images.githubusercontent.com/21109275/71216782-6b207100-22b3-11ea-817f-fdf8dc6b4fae.png)

[2019-12-19 23:07] SerggioC commented on #44
Using the following code:

            let countryController = CountryPickerWithSectionViewController.presentController(on: self) { [weak self] (country: Country) in
                 // ...
            }

            countryController.detailColor = UIColor.red
            countryController.flagStyle = .corner
            countryController.isCountryDialHidden = true
            if #available(iOS 13

[2019-12-21 04:15] SURYAKANTSHARMA commented on #44
Got It. Will fix ASAP. Thanks @SerggioC

[2019-12-21 05:31] SURYAKANTSHARMA commented on #44
Done @SerggioC . Please pod update to latest version
🎉  Congrats

 🚀  SKCountryPicker (1.2.7) successfully published
 📅  December 21st, 10:50
 🌎  https://cocoapods.org/pods/SKCountryPicker
 👍  Tell your friends!

[2019-12-21 07:01] SerggioC commented on #44
@SURYAKANTSHARMA thanks for fixing. Will update today.
And thanks for the library, it's easy to use and very helpful.

[2019-12-21 14:34] SURYAKANTSHARMA commented on #44
welcome @SerggioC . Feel free ⭐ repo. And spread to community so other can find it easily. Feel free to report any other bug/suggestion. Thanks 🙏🏻

[2019-12-21 14:34] #44 closed

[2019-12-27 21:51] NikhilDikshit commented on #44
Hey, it says [!] Unable to find a specification for `SKCountryPicker~> 1.2.7`

[2019-12-28 04:24] SURYAKANTSHARMA commented on #44
@NikhilDikshit  Please share podfile or pod update without specify the version `SKCountryPicker`

[2020-03-27 16:03] akgrt opened #51 "4 digits country codes are missing"
Kindly update the countries list, I guess some codes are updated or missing. For eg: +1345, +1268
Thanks.

[2020-03-28 07:08] SURYAKANTSHARMA commented on #51
@akgrt will check and update you

[2020-03-28 09:24] #51 closed

[2020-03-28 10:44] SURYAKANTSHARMA commented on #51
@akgrt  Thanks for bringing this up 💯 . It's my bad, I had so fix this here. Let me know if you having more improvements or suggestions.
 🎉  Congrats

 🚀  SKCountryPicker (1.2.8) successfully published
 📅  March 28th, 16:03
 🌎  https://cocoapods.org/pods/SKCountryPicker
 👍  Tell your friends!

[2020-04-06 15:22] canedo2 opened #52 "CountryManager is not loading countries correctly"
Hello!

I'm having a problem, it seems like CountryManager is not loading countries correctly in my project. I tried to install by using CocoaPods and SPM and it remains the same. I guess it is a configuration problem.

Console logs:
### " Could not load the "US.png" image referenced from a nib in the bundle with identifier "com.myproject.debug" "

As I've tried, actually CountryManager.countries

[2020-04-07 03:07] Sharkesm commented on #52
@canedo2 Thanks for raising this out, reviewing the code base now

[2020-04-07 03:23] Sharkesm commented on #52
@canedo2 On what version are you on?

[2020-04-07 06:45] SURYAKANTSHARMA commented on #52
@canedo2 could you please check [example](https://github.com/SURYAKANTSHARMA/CountryPicker/tree/master/Example) project in repo and update to latest version.

[2020-04-07 07:31] Sharkesm commented on #52
@canedo2 Here's the latest version `1.2.8` for the pod

[2020-04-07 08:11] canedo2 commented on #52
@Sharkesm Hey! I'm with XCode 11.3.1 using the latest version of the pod. I'll try to compile the example project in order to see if I also have a problem with that.

[2020-04-07 08:54] canedo2 commented on #52
`error: Build input file cannot be found: '/Users/diegomanuelmolinacanedo/Downloads/CountryPicker-master/Example/Pods/SKCountryPicker/CountryPicker/CountryPicker/CountryPickerController.bundle/XK@2.png' (in target 'SKCountryPicker-CountryPickerController' from project 'Pods')`

That's what I get when I try to compile the example project.

![Captura de pantalla 2020-04-07 a las 10 52 26](https://us

[2020-04-07 10:36] Sharkesm commented on #52
@canedo2 I think there was a mistake adding the country images as some of them are missing specifically for `Kosovo` (or you may try to clear your Derived Data).

And, for the duplication of `AppDelegate` proceeding to fix that 😄

[2020-04-07 13:27] SURYAKANTSHARMA commented on #52
Thanks, @Sharkesm for taking this up.
@canedo2  Please Check now I had committed the latest code in example project. Don't forget to clean the build folder and delete the drive data.
P.S Two app delegate should not be the issue I had delete wrong reference anyway.

[2020-04-08 13:19] SURYAKANTSHARMA commented on #52
@canado any update ? Issue get resolved ?

[2020-04-08 13:22] canado commented on #52
Wrong user, you need to ask again to @canedo2

[2020-04-08 13:54] canedo2 commented on #52
Hey, sorry, having a hard day, I'll try it asap. Just to clarify, I tried removing derived data and cleaning build folder a few times when i passed from SPM to CocoaPods.

[2020-04-12 04:10] SURYAKANTSHARMA commented on #52
@canedo2  Had you tried ?

[2020-04-13 07:55] canedo2 commented on #52
Hey, sorry, spanish holy week.

<img width="1280" alt="Captura de pantalla 2020-04-13 a las 9 48 57" src="https://user-images.githubusercontent.com/23417387/79102976-14f8a180-7d6c-11ea-8c45-a6639b326db2.png">

It seems like the same problem is showing up. Trying to fix it, I "pod install" in the /Example folder but get a problem with finding de SKCountryPicker module when compiling:

`Use of undec

[2020-04-13 15:36] SURYAKANTSHARMA commented on #52
Deleting drive data might help here.
If not compress and zip it and send it here or email me at Suryakantsharma84@gmail.com. I will revert ASAP.

[2020-04-13 15:41] canedo2 commented on #52
I just downloaded it from clone or download button.

[CountryPicker-master.zip](https://github.com/SURYAKANTSHARMA/CountryPicker/files/4470219/CountryPicker-master.zip)

[2020-04-14 10:43] phillipjacobs opened #53 "Favourite group in country code list"
**Please consider adding a "favorite" section.**
where we could set the favorites and it would display in the CountryPickerWithSectionViewController on the top.

Great job on this project!!

[2020-04-14 11:52] phillipjacobs opened #54 "NSRangeException - out-of-bounds"
**Error**
Terminating app due to uncaught exception 'NSRangeException', reason: 'Attempted to scroll the table view to an out-of-bounds section (18) when there are only 1 sections..

**When does it happen ?**
It happens when I search "ZA" and there is only one section. When I scroll it breaks. This happens randomly and is not a constant error.

I filter by all three types.

[2020-04-14 13:00] SURYAKANTSHARMA commented on #54
cc @hardeep-singh  @Sharkesm

[2020-04-14 13:08] SURYAKANTSHARMA commented on #53
@phillipjacobs  Good Idea.
 How will we adding countries to favourite ? Could you suggest any strategy.

[2020-04-14 13:27] phillipjacobs commented on #53
Hi,

I don't know exactly how you setup your code structure but if possible:

- Have a property we can set: "showFavorites"
- Then have three functions similar to your add, remove, removeAll filter
functions:

• addFavorite(withCode: "TZ")

• removeFavorite(withCode: "TZ")

• removeAllFavorites()

- Add another section "Favorites" (only if "showFavorites" was set to true)
- This section will pull

[2020-04-15 03:49] SURYAKANTSHARMA commented on #53
@phillipjacobs  yes we can do this at code end but how end user add favourite ? e.g new screen or  some extra button should be there. Have you seen anything related to this which might help me to understand the design

[2020-04-15 09:21] phillipjacobs commented on #53
Hi,

I misunderstood your previous email. Apologies.

Yes, I saw it from another library.
Both of these libraries have the feature:
• NKVPhonePicker <https://github.com/NikKovIos/NKVPhonePicker>
• CountryPickerView <https://github.com/kizitonwose/CountryPickerView>

All the best,
Phillip

On Wed, Apr 15, 2020 at 5:49 AM Suryakant <notifications@github.com> wrote:

[2020-04-15 10:09] SURYAKANTSHARMA commented on #53
ok Thanks @phillipjacobs  Will check

[2020-04-15 12:52] SURYAKANTSHARMA commented on #52
Thanks @canedo2  I got your issue. It's weird but run following commands
1. `pod deintegrate`
2. `pod install`
This is due to some cocoa pods reference issues. Let me know if you still face issue after doing this. It works fine for me after that.

[2020-04-16 08:55] Sharkesm commented on #52
@SURYAKANTSHARMA Yeah, noticed the same issue with me though it worked after reinstalling the newer version.

[2020-04-16 09:07] SURYAKANTSHARMA commented on #52
Closing this issue

[2020-04-16 09:07] #52 closed

[2020-04-16 10:42] Sharkesm commented on #54
@SURYAKANTSHARMA I can't replicate this issue on my side.

[2020-04-16 12:36] Sharkesm commented on #54
@phillipjacobs Fix on review mate :)

[2020-04-17 05:10] SURYAKANTSHARMA commented on #54
Reviewing Thanks @Sharkesm

[2020-04-17 05:59] #54 closed

[2020-04-17 06:08] SURYAKANTSHARMA commented on #54
🎉  Congrats
🚀  SKCountryPicker (1.2.9) successfully published
Please update your pod @phillipjacobs

[2020-04-27 22:25] kapadiamoheet opened #56 "Country list not loaded when using SPM"
**I am using XCODE 11 'Add Swift Package' feature**

Country list is not loaded. I debugged and found that country.plist is not loaded. Getting log as "Missing contries file path"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Xcode 11->File->Add Swift Package'
2. Following integration steps to create country button and present country list
3. Country list is not loaded

**Expected b

[2020-05-03 08:14] SURYAKANTSHARMA commented on #56
@mike011  could you please check its also not working for me as well.

[2020-05-05 10:54] SURYAKANTSHARMA commented on #56
@mike011  are you looking ?

[2020-05-15 12:23] SergLam commented on #56
Faced with the same problem, looks like we need to wait until resources support for SPM feature:

https://stackoverflow.com/questions/39815054/how-to-include-assets-resources-in-a-swift-package-manager-library

https://forums.swift.org/t/se-0271-package-manager-resources/30730/78

[2020-05-17 03:58] SURYAKANTSHARMA commented on #56
Any work around for now

[2020-05-19 14:36] SergLam commented on #56
@SURYAKANTSHARMA Swift 5.3 introduces resources support for SPM, looks like it possible now:
https://medium.com/swlh/whats-new-in-swift-5-3-ae135c9c259f

[2020-05-19 15:27] SURYAKANTSHARMA commented on #56
Thanks, Could you want to give it try ?

[2020-06-23 08:55] SerggioC opened #57 "How to use CountryPicker from Objective C project?"
I tried to import the pod with CountryPicker into an Objective-C project but I get a bunch of errors.
used @import SKCountryPicker; where I need to use it but then can't access CountryManager shared etc.
How can this be solved?

Thanks.

[2020-07-03 14:40] SURYAKANTSHARMA commented on #57
Hi @SerggioC. Actually we are not supporting this project with objective c for various reasons may be you can use https://github.com/emcrisostomo/EMCCountryPickerController for your project

[2020-07-03 14:40] #57 closed

[2020-07-03 19:07] SerggioC commented on #57
Thanks I'll try that.

[2020-08-08 22:23] liambolling commented on #56
Any change to this?

[2020-08-10 13:10] SURYAKANTSHARMA commented on #56
@liambolling it still need help

[2020-09-03 08:44] trusbe opened #60 "About localization-related"
Hi, good project, can the following functions be added:

1、Manually switch localization?
2、Manually modify the names of some disputed regions?

[2020-09-03 09:24] SURYAKANTSHARMA commented on #60
thanks @trusbe  could you elaborate a bit.

I think we can but make sure if user default view is current one

[2020-09-05 03:43] trusbe commented on #60
@SURYAKANTSHARMA

Thanks for the reply.

"Manually switch localization?"
It is the localization file, which can be automatically switched without following the language of the system, and the localization file in the application can be changed through the localization switch in the application.

The user will follow the system to display localized files by default;

[2020-09-05 03:58] SURYAKANTSHARMA commented on #60
Sure can do what about 2 point ?

[2020-09-05 04:06] trusbe commented on #60
Manually modify the names of some disputed regions?
Regarding the second point, it is mainly for some disputed regions, such as Taiwan (Taiwan, China) and China (China-Taiwan, China), each of which has different names for each other. In order to be able to conform to the local name, it needs to operate locally. In the localization file, it is modified to the local compliant name.

[2020-09-05 07:23] SURYAKANTSHARMA commented on #60
Sure. I think we are good to go. Approved.

[2020-09-28 10:51] Den-creator commented on #56
this issue is still exists

[2020-09-30 13:51] SURYAKANTSHARMA commented on #56
@Den-creator could you help to resolve? I am not good with SPM packages creation

[2020-09-30 13:58] SURYAKANTSHARMA commented on #60
Any update @trusbe ?

[2020-09-30 14:22] Den-creator commented on #56
I will try something when I will have free time

[2020-10-18 07:50] SURYAKANTSHARMA commented on #53
I am done with this feature here Add favourite #63 please review @phillipjacobs

[2020-10-26 03:36] #56 closed

[2020-10-28 05:33] punitmoon opened #68 "For ios 12 selection not working"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Smartphone (please complete the foll

[2020-10-29 14:23] #53 closed

[2020-11-20 15:16] SURYAKANTSHARMA commented on #68
Please fill STR (Steps to reproduce)

[2020-12-10 11:06] ablyAnkurPanwar commented on #60
Any updates on 1st point i.e, Manually switch localization ?

[2020-12-12 20:05] onurtuna opened #70 "SPM "Missing contries file path" error."
While using the library with SPM, the error is thrown. The file can not be found under CountryPickerController.bundle. The issue should be related to SPM installation.

After debugging, I see that the file seems to be missing. I will open a PR which should solve the problem.

[2020-12-13 05:43] SURYAKANTSHARMA commented on #70
Sure thanks @onurtuna

[2020-12-13 05:45] SURYAKANTSHARMA commented on #70
cc @adrum please help verify this issue as it was integrated by #67

[2020-12-14 17:34] onurtuna commented on #70
countries.plist is missing for SPM. The images are inside the bundle. Let me open a PR for it. @adrum @SURYAKANTSHARMA

[2021-05-12 10:02] bhargavthakkar2912 opened #73 "removing last selected country is not working"
When I use this controller in two different places I want to remove the last selected country but cannot remove it. Can you please provide me with a way to do it.

Thanking you in advance

[2021-05-13 10:53] bhargavthakkar2912 commented on #60
Any update on manually changing localization?

[2021-05-13 19:24] freakdragon opened #74 "Wrong Kazakhstan phone code (have to be +7). Wrong Guyana phone code (have to be +595)."
**Describe the bug**
Phone code of Kazakhstan is +7 and not +77

You can check it [here](https://countrycode.org/kazakhstan). There are codes of some cities of this country.

[2021-05-13 19:35] freakdragon commented on #74
Wikipedia also says Guyana phone code is 592 and not 595

[2021-05-14 10:53] SURYAKANTSHARMA commented on #74
For guyana +592 Correct will do if incorrect
For Kazakhstan dial code is +7. CMIIW
<img width="724" alt="Screenshot 2021-05-14 at 4 20 39 PM" src="https://user-images.githubusercontent.com/6416095/118261076-b18df580-b4d0-11eb-842f-6c23fb165818.png">

[2021-05-14 10:55] SURYAKANTSHARMA commented on #74
@freakdragon  can you please update to latest version the bug again. Thanks I will fix asap

[2021-05-14 10:59] freakdragon commented on #74
@SURYAKANTSHARMA
Kazakhstan code is still "77" but it has to be "7"

https://github.com/SURYAKANTSHARMA/CountryPicker/blob/master/CountryPicker/CountryPicker/Constant.swift

at string 117:

`    "KZ": "77",`

[2021-05-14 12:06] SURYAKANTSHARMA commented on #74
Ok fixing

[2021-05-14 12:08] #74 closed

[2021-05-14 12:52] SURYAKANTSHARMA commented on #74
Fixed @freakdragon
 🎉  Congrats
 🚀  SKCountryPicker (1.3.1) successfully published
 📅  May 14th, 18:21
 🌎  https://cocoapods.org/pods/SKCountryPicker
 👍  Tell your friends!

[2021-05-14 18:01] Desmuz opened #75 "Wrong country for code "7"."
In last changes "KZ": "7" and "RU": "7". But right KZ is "77" and "76".

[2021-05-15 09:03] freakdragon opened #77 "More customization of countries list"
More freedom for customization of countries list by custom country manager

This improvement will allow to customize countries list in more ways.

[code]

This will allow to use code like this:
[code]

[2021-05-15 09:05] freakdragon commented on #77
https://github.com/SURYAKANTSHARMA/CountryPicker/pull/76

[2021-05-15 20:47] Sharkesm commented on #60
Looks like @trusbe went MIA, should we proceed to close this issue since there are no more updates?

[2021-05-16 11:58] SURYAKANTSHARMA commented on #60
Sure @Sharkesm  💯

[2021-05-16 11:58] #60 closed

[2021-05-16 12:14] SURYAKANTSHARMA commented on #75
@Desmuz  could you please raise PR because I am confused now because google showing both ("KZ" and "RU") have dialling code with +7

<img width="717" alt="Screenshot 2021-05-16 at 5 42 56 PM" src="https://user-images.githubusercontent.com/6416095/118396686-3febae00-b66e-11eb-9711-ca787afb5b4b.png">

<img width="602" alt="Screenshot 2021-05-16 at 5 43 04 PM" src="https://user-images.githubuserconte

[2021-05-16 12:16] SURYAKANTSHARMA commented on #73
@bhargavthakkar2912  Can you please upload video screen shot because its hard to understand otherwise

[2021-05-16 12:17] SURYAKANTSHARMA commented on #70
@onurtuna  is it fixed ? PR ?

[2021-05-16 12:18] SURYAKANTSHARMA commented on #68
@punitmoon  Can you share screen shot and video ?

[2021-05-16 12:19] SURYAKANTSHARMA commented on #68
@punitmoon  while opening the PR on open source please share some code snippet and STR

[2021-05-16 14:14] Sharkesm commented on #73
@SURYAKANTSHARMA I got it, there's no method exposed to reset the last selected country.

[2021-05-16 15:26] Sharkesm commented on #73
@bhargavthakkar2912 Follow up PR for this request ~ https://github.com/SURYAKANTSHARMA/CountryPicker/pull/78

[2021-05-16 18:06] freakdragon commented on #75
No. 7 is country code, next number is city number code (not country code). Most of another similar libraries (Android and iOS) use 7 as phone code for Kazakhstan. If there are 76 and 77 codes then there is no sense to use 77, IMHO.

[2021-05-17 04:35] bhargavthakkar2912 commented on #73
Great when can we get this change on cocoa pods?

[2021-05-17 04:36] bhargavthakkar2912 commented on #60
How can I localise the country name to Arabic without changing the device language?

[2021-05-17 05:08] SURYAKANTSHARMA commented on #60
1 way around is store locally and force rightToLeft rendering on UIKit.

[2021-05-17 05:10] bhargavthakkar2912 commented on #60
ya it is showing English name in Arabic localisation in RTL

[2021-05-17 05:16] Sharkesm commented on #73
cc/ @SURYAKANTSHARMA ☝🏾

[2021-05-17 06:00] SURYAKANTSHARMA commented on #73
Will publish in sometime. Today or tomorrow.

[2021-05-17 07:29] SURYAKANTSHARMA commented on #73
Done @bhargavthakkar2912
 🎉  Congrats
 🚀  SKCountryPicker (1.3.2) successfully published
 📅  May 17th, 12:56
 🌎  https://cocoapods.org/pods/SKCountryPicker
 👍  Tell your friends!

[2021-05-17 08:56] #73 closed

[2021-05-17 08:56] bhargavthakkar2912 commented on #73
Thanks @SURYAKANTSHARMA

[2021-05-17 09:01] bhargavthakkar2912 opened #79 "localising the country list based on application and not based on device language"
Hello
Can you guide me on how I can view the localised name of the country based on application language.
Suppose my application is in Arabic and my device is English how can I convert the country list to Arabic.

Thanking you in Advance

[2021-05-17 09:02] bhargavthakkar2912 commented on #79
Duplicate of #60

[2021-05-17 18:41] freakdragon opened #80 "Åland islands, Cayman islands, Jamaica possibly wrong phone codes"
Åland islands ("AX") must be +358
Cayman islands ("KY") must be +1345
Cayman Jamaica ("JM") must be +1876

Check please.

[2021-05-18 11:38] SURYAKANTSHARMA commented on #80
@freakdragon  I will appreciate if you can raise pr on fixing all at once

[2021-05-19 08:16] freakdragon commented on #80
https://github.com/SURYAKANTSHARMA/CountryPicker/pull/81

[2021-05-19 08:17] freakdragon commented on #80
@SURYAKANTSHARMA added pull request

[2021-05-19 08:27] SURYAKANTSHARMA commented on #80
Ok thanks 🙏

[2021-05-19 08:27] freakdragon commented on #75
@SURYAKANTSHARMA that's normal that Kazakhstan and Russia have the same phone numbers. Those countries have close relations. You can read some books about the collapse of the USSR and time after it if you are interested.

[2021-05-22 13:02] Sharkesm commented on #80
PR #81 has been approved and merged to master already 😄

[2021-05-22 13:02] #80 closed

[2021-05-22 13:06] Sharkesm commented on #75
@freakdragon @SURYAKANTSHARMA Let's close this issue if there are no changes meant to be made at this stage.

[2021-05-23 11:54] #75 closed

[2021-08-03 10:27] SURYAKANTSHARMA commented on #79
Not supported yet cc @Sharkesm
@bhargavthakkar2912 can you want to try I think we need to add localized files as well

[2022-02-11 05:38] dhritzkiv opened #87 "Instance no longer returned on `present(on:)` in 1.4.1"
**Describe the bug**
In 1.3.2 it was possible to retrieve the instance of the view controller after calling `present`:

[code]

^ that's from the README

Now, the call returns `()`

If this is no longer supported, 1.4.1 should have been 2.0.0, as that's a breaking change

[2022-02-11 06:30] Sharkesm commented on #87
@dhritzkiv Good point that you raised.

@SURYAKANTSHARMA Could we proceed with updating the README based on the recent changes that you made.

[2022-02-11 13:22] SURYAKANTSHARMA commented on #87
@Sharkesm should we close this ?

[2022-02-11 17:42] dhritzkiv commented on #87
In 1.3.2 I was doing this:

[code]

I'm unable to apply these in the configuration block

[2022-02-12 07:19] Sharkesm commented on #87
@dhritzkiv I think you can still apply the configuration of the controller as instructed on the README file.

@SURYAKANTSHARMA For that case since there's code-breaking would be best to update the versioning to avoid any confusion then close this issue.

[2022-02-14 04:55] dhritzkiv commented on #87
It doesn't look to be the case. More than just that API changed:

<img width="1082" alt="image" src="https://user-images.githubusercontent.com/1349865/153801974-7b647fb9-0fd1-4ba5-86ad-3c8d9144a2dc.png">

[2022-02-14 06:17] SURYAKANTSHARMA commented on #87
use `countryController. configuration.detailFont` will update major version.

[2022-02-14 07:43] Sharkesm commented on #87
@dhritzkiv Updated the README file on the styling section. Please confirm as to whether the styling configuration is exposed for the current version or else we may proceed to close this thread.

cc/ @SURYAKANTSHARMA

[2022-02-14 11:26] SURYAKANTSHARMA commented on #87
I have not delete live version as per [this](https://stackoverflow.com/a/31052949 ).  but had updated new version will reflect soon 2.0.0

[2022-02-14 11:26] #87 closed

[2022-02-14 11:27] SURYAKANTSHARMA commented on #70
it is working for with SPM 💯 Please reopen it if needed

[2022-02-14 11:27] #70 closed

[2022-02-14 11:28] SURYAKANTSHARMA commented on #77
this is already merged in master. Have a look in `CountryListDataSource`

[2022-02-14 11:28] #77 closed

[2022-02-17 05:32] SURYAKANTSHARMA commented on #79
closing no need of action right now.

[2022-02-17 05:32] #79 closed

[2022-03-03 06:17] ohomaidi opened #88 "Mac Catalyst Support"
I am getting "Missing countries plist file from path: ./ -- file:///Users/xxx/Library/Containers/com.xxx.xxx" when trying to run on  Catalyst. I am assuming its not supported? Could you please confirm?

Many many thanks for the amazing library. It looks great on iOS.

[2022-03-04 04:48] freakdragon opened #89 "Using of custom CountryListDataSource doesn't prevent the call of CountryManager.shared `allCountries` method"
While using of method `presentController` of `CountryPickerWithSectionViewController` (`CountryPickerWithSectionViewController.swift` row 45) it calls init method of `CountryPickerController` (`CountryPickerController.swift` row 113) which creates `CountryPickerEngine` (`CountryPickerController.swift` row 115). But when the initiator of `CountryPickerEngine` (CountryPickerEngine.swift row 15) call

[2022-03-04 06:34] Sharkesm commented on #88
@SURYAKANTSHARMA Do we have any support for Mac Catalyst support in place?

[2022-03-04 06:58] SURYAKANTSHARMA commented on #88
Not yet. @ohomaidi  You can open PR in case you want. cc @Sharkesm

[2022-03-04 06:58] #88 closed

[2022-04-29 13:07] joedefa01 opened #90 "A way of setting the last selected country"
I was wondering if there was a way / if you could make a way to set the last selected country. For example i want to show the picker but first i want to set the last selected country to another country before it is presented. I have already selected US for the country and when i show the controller again i want to set the selected country to UK instead because the field i am editing has UK as the

[2022-06-09 06:17] SURYAKANTSHARMA commented on #89
@freakdragon  can you raise PR for same will check.

[2022-06-09 06:17] #89 closed

[2022-06-24 20:23] emanuelhc88 opened #91 "EXC_BREAKPOINT Swift runtime failure: Index out of range"
**Describe the bug**

We use the Bugsnag platform to map bugs and a frequent error that happened to our users:

EXC_BREAKPOINT Swift runtime failure: Index out of range

We were unable to replicate it, but we observed that it happens sometime after the user opens the keyboard.

Follow the prints:

**Screenshots**
![Screen Shot 2022-06-24 at 17 21 16](https://user-images.githubusercontent.com/93926

[2022-06-26 09:32] SURYAKANTSHARMA commented on #91
please reopen if can reproduce steps

[2022-06-26 09:32] #91 closed

[2022-07-04 12:30] SURYAKANTSHARMA commented on #90
@Sharkesm any update on this ?

[2022-07-07 08:38] Sharkesm commented on #90
@SURYAKANTSHARMA I haven't had a chance to work on this yet. Hopefully over the weekend I can give it a look and make proper changes for such support.

[2022-07-24 16:26] SURYAKANTSHARMA commented on #90
@Sharkesm  Gentle remainder

[2022-09-27 11:06] vishalkevin11 commented on #90
Hey @SURYAKANTSHARMA @Sharkesm Have raised a PR for the above issue. Please review.

[2022-09-30 03:55] vishalkevin11 opened #94 "Unable to see check / tick mark for selected country"
**Describe the bug**
 - Unable to see check / tick mark for selected country
**To Reproduce**
Steps to reproduce the behavior:
1. Open country selection picker
2. Select country
3. Close picker
4. Re-Open country selection picker
5. Now you see no country is selected

**Expected behavior**
A clear and concise description of what you expected to happen.

- Selected country should show check/tick ma

[2022-09-30 13:38] InsanelyHarsh commented on #94
I would like to take this task, can you make me go through the workflow?

[2022-09-30 15:19] vishalkevin11 commented on #94
Hey @InsanelyHarsh,

Thank you for your interest. So the following describes our issue

We have a `tickMark` image added to our bundle. We have the code to show the image when the cell is selected. For some reason (_mainly the image is not in the Bundle anymore_) we don't see the cell chosen showing the `tickMark` image. This is what has to be fixed.

[2022-10-01 05:57] SURYAKANTSHARMA commented on #94
@InsanelyHarsh let me know in case you cannot pick this ?
There is some issue in countryPickerSwiftUIExample project it using SPM cc @vishalkevin11

[2022-10-01 08:59] #94 closed

[2022-10-01 09:39] SURYAKANTSHARMA commented on #94
@vishalkevin11 you can check now on latest SPM 2.1.0 it will fix the issue. Let me know in case you find any issue. Thanks for reporting. 👍

[2022-10-01 09:42] SURYAKANTSHARMA commented on #90
Hi @joedefa01 as @vishalkevin11 [pr](https://github.com/SURYAKANTSHARMA/CountryPicker/pull/93) is merged please confirmed issue is fixed for you. Thanks guys for reporting  and fixing as well 👍 (this is beauty of open source projects).

[2022-10-01 09:42] #90 closed

[2022-10-01 11:31] vishalkevin11 commented on #94
@SURYAKANTSHARMA Just verified this. It works like charm, I see the check mark now. Thanks for the quick fix ❤️❤️❤️

[2022-11-05 00:58] wilav-dev opened #97 "Searchbar Customization"
Hello, I have two questions:

- My primary color is dark green so I want to change the searchbar icon and title to white
- I want to translate Search text to spanish "Buscar"

![Screenshot 2022-11-04 at 9 56 59 PM](https://user-images.githubusercontent.com/71793326/200093878-a3d27d30-f8c0-478e-a0d2-59a5a2f99933.png)

[2022-11-13 05:46] imrankst1221 opened #98 "Add/Remove country"
Is there any way to add or remove the country from the list? In my case, I required some selected countries.

[2022-11-13 05:53] SURYAKANTSHARMA commented on #98
You can check `PickerViewController` to set custom set of country it has example with pickerview

[2022-11-13 05:53] #98 closed

[2022-11-22 06:45] ErSahil56 opened #99 "Localization"
Library supports localization ?

[2022-11-22 07:07] SURYAKANTSHARMA commented on #99
Not yet @ErSahil56
Feel free to open PR with proposed implementation

[2022-11-22 07:07] #99 closed

[2022-11-24 07:50] sanket-zywa opened #100 "Improve Dark Mode UI"
Please improve dark mode UI. Especially the separators, looks too ugly.

Thank you.

[2022-11-24 08:36] SURYAKANTSHARMA commented on #100
please attach screenshots with clear indent. It's is not good way to put issue on open source.
Feel free to folk and add PR.

[2022-11-25 05:00] SURYAKANTSHARMA commented on #97
For both of them there is no support as such may be you can fork the repo to make changes or feel free to raise pr to us will see if we can merge into master

[2022-11-25 05:00] #97 closed